Source: ros-galactic-turtlebot4-examples
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), ros-galactic-ament-cmake, ros-galactic-turtlebot4-cpp-examples, ros-galactic-turtlebot4-python-examples, ros-galactic-ros-workspace
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-turtlebot4-examples
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, ros-galactic-turtlebot4-cpp-examples, ros-galactic-turtlebot4-python-examples, ros-galactic-ros-workspace
Description: Turtlebot4 Examples Metapackage
