Source: ros-galactic-turtlebot4-python-examples
Section: misc
Priority: optional
Maintainer: rkreinin <rkreinin@clearpathrobotics.com>
Build-Depends: debhelper (>= 9.0.0), python3-pytest <!nocheck>, ros-galactic-ament-copyright <!nocheck>, ros-galactic-ament-flake8 <!nocheck>, ros-galactic-ament-pep257 <!nocheck>, ros-galactic-turtlebot4-base, ros-galactic-turtlebot4-bringup, ros-galactic-turtlebot4-description, ros-galactic-turtlebot4-diagnostics, ros-galactic-turtlebot4-msgs, ros-galactic-turtlebot4-navigation, ros-galactic-turtlebot4-node, ros-galactic-ros-workspace, python3-all, python3-setuptools, dh-python
Homepage: 
Standards-Version: 3.9.2

Package: ros-galactic-turtlebot4-python-examples
Architecture: any
Depends: ${python3:Depends}, ${misc:Depends}, ros-galactic-turtlebot4-base, ros-galactic-turtlebot4-bringup, ros-galactic-turtlebot4-description, ros-galactic-turtlebot4-diagnostics, ros-galactic-turtlebot4-msgs, ros-galactic-turtlebot4-navigation, ros-galactic-turtlebot4-node, ros-galactic-ros-workspace
Description: TurtleBot 4 Python Examples
